* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans',sans-serif;
	background-color: #ddd;
}

input, select{
	width: 100%;
	border: none;
	border-radius: 0;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	vertical-align: middle;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 1px solid;
	color: #333;


}

.field{ 
	display:flex;
	text-align: left;
	align-content:center;
	vertical-align: middle;
 }

.field{
	font-weight: lighter;
	text-transform: capitalize;
 }

.boton {
	text-align: center;

 }